
a{
  text-decoration: none;
}

/* TODO: 背景 */

#page{
	position: absolute;
	width: 800px;
	border: 1px solid #e2f0fd;
	left: 50%;
  margin-top: 5px;
  margin-left: -400px;
  border-radius: 10px;
  overflow: hidden;
}

#header{
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #e2f0fd;
}

#header #back{
  position: absolute;
  top: 15px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-image: url(img/icon_back.png);
  background-size: 30px 30px;
}

#header #title{
  position: absolute;
  top: 2px;
  color: #5588c2;
  line-height: 58px;
  font-size: 20px;
  left: 40px;
}

#header .link{
  position: absolute;
  top: 17px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

#header #home{
  background-image: url(img/icon_home.png);
  right: 380px;
}

#header #twitter{
  background-image: url(img/icon_twitter.png);
  right: 330px;
}

#header #github{
  background-image: url(img/icon_code.png);
  right: 280px;
}

#header input{
  position: absolute;
  font-size: 18px;
  right: 10px;
  top: 20px;
  width: 240px;
  height: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

#header input::placeholder{
  color: #dddddd;
}

#main{
  top: 0;
  left: 0;
	width: 100%;
  height: 480px;
  background-color: #ffffff;
}

#main ul{
  margin: 0;
  padding: 0;
}

#main li{
  display: inline-block;
}

.item{
  position: relative;
  width: 100px;
  height: 100px;
  margin: 25px;
}

.item img{
  position: absolute;
  top: 0px;
  left: 15px;
  width: 70px;
  height: 70px;
  pointer-events: none;
}

.item .label{
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: 70px;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  pointer-events: none;
}
