@font-face {
	font-family: 'mplus-1m-light';
	src: url(./assets/mplus-1m-light.ttf);
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: mplus-1m-light;
}

#main{
  position: absolute;
  width: 300vw;
  height: 300vh;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.stage{
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#stage-0{
  top: 0;
  left: 0;
  background-color: #00ccff;
}

#stage-0 .instruction{
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-left: -300px;
  margin-top: -200px;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  border: 1px dashed #ffffff;
}

#stage-0 .text{
  position: absolute;
  color: #ffffff;
  top: 20px;
  left: 0;
  width: 100%;
  height: 260px;
  text-align: center;
  line-height: 44px;
  font-size: 18px;
}

#stage-0 #text-0{
  color: transparent;
}

#stage-0 .invert_and_dashed{
  padding-bottom: 6px;
  border-bottom: 1px dashed #ffffff;
}

#stage-0 .invert_and_dashed::-moz-selection{
  background: #ffffff;
  color: #00ccff;
}

#stage-0 .invert_and_dashed::selection {
  background: #ffffff;
  color: #00ccff;
}


#stage-0 .button{
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  border: 1px dashed #ffffff;
  color: #ffffff;
  line-height: 80px;
  text-align: center;
  font-size: 18px;
  transition: all 300ms 0s ease;
}

#stage-0 .button:hover {
  background: rgba(255,255,255,0.9);
  color: #00ccff;
}

#stage-0 .invert::-moz-selection{
  background: #ffffff;
  color: #00ccff;
}

#stage-0 .invert::selection {
  background: #ffffff;
  color: #00ccff;
}


#stage-1{
  top: 0;
  left: 100vw;
  background-color: #ffff99;
}

#stage-1 .char{
  position: absolute;
  width: 15vh;
  height: 15vh;
  font-size: 15vh;
  text-align: center;
  line-height: 15vh;
  -moz-user-select: none;
  user-select: none;
}

#stage-1 #char-0{
  top: 20vh;
  left: 10vw;
  color: #3366ff;
  z-index: 3;
}

#stage-1 #char-1{
  top: 70vh;
  left: 20vw;
  color: #ff9933;
  z-index: 7;
}

#stage-1 #char-2{
  top: 40vh;
  left: 30vw;
  color: #66cc33;
  z-index: 4;
}

#stage-1 #char-3{
  top: 10vh;
  left: 40vw;
  color: #ff66cc;
  z-index: 5;
}

#stage-1 #char-4{
  top: 55vh;
  left: 55vw;
  color: #9966ff;
  z-index: 2;
}

#stage-1 #char-5{
  top: 30vh;
  left: 70vw;
  color: #ff0033;
  z-index: 1;
}

#stage-1 #char-6{
  top: 70vh;
  left: 80vw;
  color: #00ccff;
  z-index: 6;
}

#stage-1 #stage-1-circle{
  background-color: #ff6600;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
  border-radius: 50%;
}

#stage-1 #stage-1-outercircle{
	position: absolute;
	width: 60px;
  height: 60px;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 50%;
}

#stage-1 .corner{
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #e9967a;
  opacity: 0.0;
  pointer-events: none;
  text-align: right;
  line-height: 50px;
  padding-right: 10px;
}
#stage-1 .corner::before {
  content: '';
  bottom: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-left: 100px solid #fff8dc;
  position: absolute;
  z-index: 100;
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.4));
	}
#stage-1 .corner::after {
  display: block;
  bottom: 5px;
  transform: rotate(-135deg);
  left: 0px;
  position: absolute;
  z-index: 101;
	}

#stage-2{
  top: 0;
  left: 200vw;
  background-color: #333333;
}

#stage-2 #point{
  position: absolute;
  top: 10vh;
  left: 90vw;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /* border: 1px solid #ffffff; */
}

#stage-2 #sonar{
  position: absolute;
  border-radius: 50%;
  border: 1px solid #ffffff;
  visibility: hidden;
  pointer-events: none;
}

#stage-3{
  top: 100vh;
  left: 200vw;
  background-color: #99ff99;
}

#stage-3 #canvas{
  position: absolute;
  top: 0;
  left: 0;
}

#stage-3 .char3{
  position: absolute;
  z-index: 100;
  color: #99ff99;
  pointer-events: none;
  font-size: 32px;
  -moz-user-select: none;
  user-select: none;
}

#stage-3 #cursor_img{
  position: fixed;
  width: 16px;
  height: 16px;
	user-select: none;
}

#stage-3 #char3-0{
  top: 20vh;
  left: 15vw;
}

#stage-3 #char3-2{
  top: 15vh;
  left: 50vw;
}

#stage-3 #char3-4{
  top: 28vh;
  left: 78vw;
}

#stage-3 #char3-5{
  top: 70vh;
  left: 15vw;
}

#stage-3 #char3-6{
  top: 60vh;
  left: 35vw;
}

#stage-3 #char3-7{
  top: 65vh;
  left: 50vw;
}

#stage-3 #char3-8{
  top: 70vh;
  left: 63vw;
}

#stage-3 #char3-9{
  top: 60vh;
  left: 80vw;
}

#stage-4{
  top: 200vh;
  left: 200vw;
  background-color: #cc99ff;
}

#stage-4 .instruction{
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-left: -300px;
  margin-top: -200px;
  width: 600px;
  height: 400px;
  border-radius: 10px;
}

#stage-4 .text{
  position: absolute;
  color: #ffffff;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 380px;
  font-size: 18px;
}

#stage-4 .text-dashed{
  padding-bottom: 6px;
  border-bottom: 1px dashed #ffffff;
}

#stage-4 #text-2{
  color: transparent;
}

#stage-4 #text-2::-moz-selection{
  background: #ffffff;
  color: #cc99ff;
}

#stage-4 #text-2::selection {
  background: #ffffff;
  color: #cc99ff;
}

#stage-4 #next{
  position: absolute;
  width: 32px;
  height: 32px;
  right: 0;
  bottom: 0;
}

#stage-5{
  top: 200vh;
  left: 100vw;
  background-color: #ffcc00;
}

#stage-5 .instruction{
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-left: -300px;
  margin-top: -200px;
  width: 600px;
  height: 400px;
  border-radius: 10px;
}

#stage-5 .button{
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -40px;
  line-height: 80px;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #cc6600;
  background-color: #ff9900;
  color: #cc6600;
  font-size: 18px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

#stage-5 .button:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

#stage-5 textarea{
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 120px;
  color: #ff9900;
  font-size: 18px;
  resize: none;
  border: 1px solid #cccccc;
}

#stage-5 textarea:focus{
  border: 2px solid #cc6600;
}

#stage-6{
  top: 200vh;
  left: 0;
  background-color: #006699;
}

#stage-7{
  top: 100vh;
  left: 0;
  background-color: #ff99cc;
}

#stage-7 .text-7{
  position:absolute;
  color: #ffffff;
  font-size: 18px;
  width: 500px;
  height: 120px;
  /* border: 1px dashed #ffffff; */
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -60px;
  line-height: 24px;
  text-align: left;
  padding-left: 60px;
  -moz-user-select: none;
  user-select: none;
}

#stage-7 .circle{
  position: absolute;
  border-radius: 50%;
  background-color: #ff99cc;
  /* border: 1px dashed #ffffff; */
}

#stage-7 #circle-1{
  top: 30vh;
  left: 20vw;
  width: 50vh;
  height: 50vh;
}

#stage-7 #circle-2{
  top: 20vh;
  left: 50vw;
  width: 50vh;
  height: 50vh;
}

#stage-7 #circle-3{
  top: 30vh;
  left: 30vw;
  width: 60vh;
  height: 60vh;
}

#stage-7 #circle-4{
  top: 35vh;
  left: 45vw;
  width: 60vh;
  height: 60vh;
}

#stage-7 #circle-5{
  top: 20vh;
  left: 35vw;
  width: 50vh;
  height: 50vh;
}

#stage-7 #circle-6{
  top: 30vh;
  left: 60vw;
  width: 50vh;
  height: 50vh;
}

#stage-7 .corner{
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #ff3399;
  opacity: 0.0;
  pointer-events: none;
  text-align: right;
  line-height: 50px;
  padding-right: 10px;
}
#stage-7 .corner::before {
  content: '';
  bottom: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-left: 100px solid #ffccff;
  position: absolute;
  z-index: 100;
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.4));
	}
#stage-7 .corner::after {
  display: block;
  bottom: 5px;
  transform: rotate(-135deg);
  left: 0px;
  position: absolute;
  z-index: 101;
	}

#stage-8{
  top: 100vh;
  left: 100vw;
  background-color: #ffffff;
}

#stage-8 .instruction{
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-left: -300px;
  margin-top: -200px;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  border: 1px dashed #00ccff;
}

#stage-8 .text{
  position: absolute;
  color: #00ccff;
  top: 20px;
  left: 0;
  width: 100%;
  height: 260px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}

#stage-8 .button{
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  border: 1px dashed #00ccff;
  color: #00ccff;
  line-height: 80px;
  text-align: center;
  font-size: 18px;
  transition: all 300ms 0s ease;
}

#stage-8 .button:hover {
  background: rgba(0,204,255,0.9);
  color: #ffffff;
}

#stage-8 .invert::-moz-selection{
  background: #00ccff;
  color: #ffffff;
}

#stage-8 .invert::selection {
  background: #00ccff;
  color: #ffffff;
}
